html {
    background-color: #7fffd4;
    color: #414e8d;
    font-size: 20px;
}

h2 {
    color: #e8650e;
    font-size: 50px;
}

h3 {
    color: #d2691e;
    font-size: 40px;
}

label {
    color: #e8910e;
    font-size: 30px;
    text-align: center;
    vertical-align: center;
}

input {
    width: 120px;
    color: #eeb013;
    font-size: 20px;
    height: 35px;
    vertical-align: center;
    margin: 3px;
    background: #f5f5f5;
}

.
div {
    text-align: center;
    vertical-align: center;
}

select {
    font-size: 20px;
    color: #eeb013;
}

p {
    text-align: center;
}

input[type = "text"] {
    width: 300px;
}

img {
    width: 100px;
    height: 100px;
    display: none;
}

